$neon-blue: #00bfff;
$neon-green: #00ff00;
$neon-red: #ff0000;
$neon-yellow: #ffff00;
$neon-purple: #ff00ff;
$neon-orange: #ffa500;
$neon-pink: #ff69b4;
$neon-hotpink: #ff1493;
$neon-default: $neon-hotpink;
$neon-colors: (
  "blue": $neon-blue,
  "green": $neon-green,
  "red": $neon-red,
  "yellow": $neon-yellow,
  "purple": $neon-purple,
  "orange": $neon-orange,
  "pink": $neon-pink,
  "hotpink": $neon-hotpink,
);

.neon-button__container {
  user-select: none; /* Standard */
  $neon-color: $neon-default;
  $neon-bg-color: darken($neon-color, 90%);
  font-weight: 700;
  text-transform: uppercase;
  // letter-spacing: 0.25em;

  font-style: normal;

  & > .neon-button__button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25em 1em;

    color: $neon-color;
    border: $neon-color 0.125em solid;

    // text-shadow: 
    //     0 0 0.5em $neon-color, 
    //     0 0 1em $neon-color;

    // box-shadow: inset 0 0 0.5em 0.15em $neon-color, 0 0 0.5em 0.15em $neon-color;

    border-radius: 100px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: $neon-color;
      inset: 0;
      top: 120%;
      width: 100%;
      height: 100%;
      pointer-events: none;

      transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
      filter: blur(1em);
      opacity: 0.7;
      transition: opacity 100ms linear;
    }

    &:hover,
    &:focus {
      color: $neon-bg-color;
      text-shadow: none;
    }

    &::after {
      content: "";
      position: absolute;
      inset: -1px;
      box-shadow: 0 0 2em 0.5em $neon-color;
      background-color: $neon-color;
      border-radius: 100px;
      z-index: -1;
      opacity: 0;
      transition: opacity 100ms linear;
    }

    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
      opacity: 1;
    }

    @each $name, $color in $neon-colors {
      &.btn-color-#{$name} {
        border: $color 0.125em solid;
        transition: all 200ms linear;
        text-shadow: 0 0 0.5em $color, 0 0 1em $color;
        color: $color;

        box-shadow: inset 0 0 0.5em 0.15em $color, 0 0 0.5em 0.15em $color;
        &::before {
          background-color: $color;
        }
        &:hover,
        &:focus {
          color: darken($color, 50%);
          letter-spacing: 0.25em;
          background-color: $color;
          // text-shadow: 0 0 0.5em $color, 0 0 1em $color;
          // color: darken($color, 50%);
        }
        &::after {
          z-index: -1;
          box-shadow: 0 0 2em 0.5em $color;
          background-color: $color;
        }
      }
    }
  }
}
