.logo__yellow{
    fill:#f2d901;
}
.logo__blue{
    fill:#246cd8;
}
.logo__orange{
    fill:#f58500;
}
.logo__red{
    fill:#f70000;
}
.logo__green{
    fill:#4abc1f;
}
.logo__main {
    fill: rgba(0,0,0,1);
    fill: url(#LogoGradient);
}
