@use "sass:color";
$layer-fade: 0.8;
$google-color: hsl(0, 94%, 41%);
$twitch-color: hsl(264, 80%, 54%);
$github-color: hsl(180, 5%, 50%);
$twitter-color: hsl(197, 100%, 50%);
$instagram-color: hsl(299, 100%, 50%);
$linkedin-color: hsl(208, 100%, 50%);
$facebook-color: hsl(216, 100%, 50%);
$youtube-color: hsl(0, 100%, 50%);
$pinterest-color: hsl(0, 100%, 50%);
$bitbucket-color: hsl(0, 100%, 50%);
$deviantart-color: hsl(0, 100%, 50%);
$instructables-color: hsl(45, 97%, 54%);
$white: hsl(0, 0%, 100%);

@function glowText($glowColor) {
  @return 0 0 20px $glowColor, 0 0 40px $glowColor, 0 0 60px $glowColor,
    0 0 80px $glowColor, 0 0 100px $glowColor, 0 0 120px $glowColor,
    0 0 140px $glowColor, 0 0 160px $glowColor;
}

.social-button__root {
  display: flex;
  position: relative;
  justify-content: center;
}

.social-button__label {
  position: absolute;
  opacity: 0;
  align-self: flex-end;
  font-size: large;
  transform: translate(0, -1em);
  transition: all 0.5s ease-in-out;
  text-shadow: glowText($white);

  $label-lightness: 30%;
  &.youtube {
    text-shadow: glowText(
      color.scale($youtube-color, $lightness: $label-lightness)
    );
  }
  &.facebook-f {
    text-shadow: glowText(
      color.scale($facebook-color, $lightness: $label-lightness)
    );
  }
  &.twitter {
    text-shadow: glowText(
      color.scale($twitter-color, $lightness: $label-lightness)
    );
  }
  &.instagram {
    text-shadow: glowText(
      color.scale($instagram-color, $lightness: $label-lightness)
    );
  }
  &.linkedin-in {
    text-shadow: glowText(
      color.scale($linkedin-color, $lightness: $label-lightness)
    );
  }
  &.github {
    text-shadow: glowText(
      color.scale($github-color, $lightness: $label-lightness)
    );
  }
  &.twitch {
    text-shadow: glowText(
      color.scale($twitch-color, $lightness: $label-lightness)
    );
  }
  &.google {
    text-shadow: glowText(
      color.scale($google-color, $lightness: $label-lightness)
    );
  }
  &.pinterest {
    text-shadow: glowText(
      color.scale($pinterest-color, $lightness: $label-lightness)
    );
  }
  &.bitbucket {
    text-shadow: glowText(
      color.scale($bitbucket-color, $lightness: $label-lightness)
    );
  }
  &.deviantart {
    text-shadow: glowText(
      color.scale($deviantart-color, $lightness: $label-lightness)
    );
  }
  &.instructables {
    text-shadow: glowText(
      color.scale($instructables-color, $lightness: $label-lightness)
    );
  }
}
.social-button__box {
  position: relative;
  margin: 0 40px;
  list-style: none;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease-in-out;
  border: 2px solid #000;
  color: white;
  z-index: 1000;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 50px !important;
    color: #fff;
    transition: all 0.5s ease-in-out;
    background: transparent !important;
    background: #000 !important;
  }

  &:hover {
    transform: rotate(-30deg) skew(25deg);

    + .social-button__label {
      opacity: 1;
      transform: translate(0, 3em);
    }
    span:nth-child(5) {
      opacity: 1;
      transform: translate(80px, -80px);
    }
    span:nth-child(4) {
      opacity: 0.8;
      transform: translate(60px, -60px);
    }
    span:nth-child(3) {
      opacity: 0.6;
      transform: translate(40px, -40px);
    }
    span:nth-child(2) {
      opacity: 0.4;
      transform: translate(20px, -20px);
    }
    span:nth-child(1) {
      opacity: 0.2;
      transform: translate(0px, 0px);
    }
  }

  .fa-github {
    text-shadow: glowText($github-color);
  }
  .fa-twitch {
    text-shadow: glowText($twitch-color);
  }
  .fa-twitter {
    text-shadow: glowText($twitter-color);
  }
  .fa-instagram {
    text-shadow: glowText($instagram-color);
  }
  .fa-linkedin-in {
    text-shadow: glowText($linkedin-color);
  }
  .fa-google-plus-g {
    text-shadow: glowText($google-color);
  }
  .fa-youtube {
    text-shadow: glowText($youtube-color);
  }
  .fa-facebook-f {
    text-shadow: glowText($facebook-color);
  }
  .fa-instructables {
    text-shadow: glowText($instructables-color);
  }
  &.github span {
    box-shadow: 0 0 0.1em 0 $github-color;
  }
  &.twitch span {
    box-shadow: 0 0 0.1em 0 $twitch-color;
  }
  &.twitter span {
    box-shadow: 0 0 0.1em 0 $twitter-color;
  }
  &.instagram span {
    box-shadow: 0 0 0.1em 0 $instagram-color;
  }
  &.linkedin span {
    box-shadow: 0 0 0.1em 0 $linkedin-color;
  }
  &.youtube span {
    box-shadow: 0 0 0.1em 0 $youtube-color;
  }
  &.google span {
    box-shadow: 0 0 0.1em 0 $google-color;
  }
  &.facebook-f span {
    box-shadow: 0 0 0.1em 0 $facebook-color;
  }
  &.instructables span {
    box-shadow: 0 0 0.1em 0 $instructables-color;
  }
  &.github:hover span {
    box-shadow: -1px 1px 5px 4px $github-color !important;
    background: fade-out($github-color, $layer-fade) !important;
  }
  &.twitch:hover span {
    box-shadow: -1px 1px 5px 4px $twitch-color !important;
    background: fade-out($twitch-color, $layer-fade) !important;
  }
  &.twitter:hover span {
    box-shadow: -1px 1px 5px 4px $twitter-color !important;
    background: fade-out($twitter-color, $layer-fade) !important;
  }
  &.instagram:hover span {
    box-shadow: -1px 1px 5px 4px $instagram-color !important;
    background: fade-out($instagram-color, $layer-fade) !important;
  }
  &.linkedin:hover span {
    box-shadow: -1px 1px 5px 4px $linkedin-color !important;
    background: fade-out($linkedin-color, $layer-fade) !important;
  }
  &.youtube:hover span {
    box-shadow: -1px 1px 5px 4px $youtube-color !important;
    background: fade-out($youtube-color, $layer-fade) !important;
  }
  &.google:hover span {
    box-shadow: -1px 1px 5px 4px $google-color !important;
    background: fade-out($google-color, $layer-fade) !important;
  }
  &.facebook-f:hover span {
    box-shadow: -1px 1px 5px 4px $facebook-color !important;
    background: fade-out($facebook-color, $layer-fade) !important;
  }
  &.instructables:hover span {
    box-shadow: -1px 1px 5px 4px $instructables-color !important;
    background: fade-out($instructables-color, $layer-fade) !important;
  }
}
