// Colours partial

// Navigation Colors
// $nav-background: rgba(55, 36, 40, .88);
$nav-background: rgba(63, 118, 208, 0.88);
// Text colours
$txt-primary: rgba(28, 54, 83, 1);
// body font
$txt-secondary: rgb(61, 67, 81);
$txt-secondary-50: rgba($txt-secondary, 50%);
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #acb1b4;
$form-placeholder: #bcc1c3;
// form placeholder text
// Global colours
$accent-color: #e8ca6f;
$original-accent-color: #e8ca6f;
// global accent colour
$accent-color-hover: #d3b56a;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Ceremony blue
$ceremony-blue: #151567;
// Typography colours
$h2-color: #3d4351;
$h3-color: #3d4351;
$h5-color: #3d4351;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3d4351;
$footer-secondary: #373d4a;
// Keylines
$keyline-color: #e6e9ea;
$footer-keyline-color: #4e566c;
// CTA Buttons
$cta-color: black;
$cta-background-color: #ffffff42;
$cta-accent-color: #ffffff;
$cta-accent-background-color: #e8ca6f;

$rainbow-gradient-repeat: linear-gradient(
  45deg, 
  #fb0094, 
  #00f, 
  #0f0, 
  #ff0, 
  #f00, 
  #fb0094,
  #00f, 
  #0f0, 
  #ff0, 
  #f00 );

$rgb-gradient: linear-gradient(
  90deg,
  hsl(0, 100%, 50%) 0%,
  hsl(33, 100%, 50%) 25%,
  hsl(54, 100%, 50%) 50%,
  hsl(104, 100%, 50%) 75%,
  hsl(216, 100%, 50%) 100%,
);

$rgb-alt-gradient: linear-gradient(
  90deg,
  hsl(0, 100%, 50%) 0%,
  hsl(96, 100%, 50%) 50%,
  hsl(192, 100%, 50%) 100%
);

$rainbow-circle-gradient: conic-gradient(
  #fd004c,
  #fe9000,
  #fff020,
  #3edf4b,
  #3363ff,
  #b102b7,
  #fd004c
);

$rainbow-gradient: linear-gradient(
  90deg,
  rgba(255, 0, 0, 1) 0%,
  rgba(255, 154, 0, 1) 10%,
  rgba(208, 222, 33, 1) 20%,
  rgba(79, 220, 74, 1) 30%,
  rgba(63, 218, 216, 1) 40%,
  rgba(47, 201, 226, 1) 50%,
  rgba(28, 127, 238, 1) 60%,
  rgba(95, 21, 242, 1) 70%,
  rgba(186, 12, 248, 1) 80%,
  rgba(251, 7, 217, 1) 90%,
  rgba(255, 0, 0, 1) 100%
);

@function neonText($color) {
  @return 0 0 7px $color,
      0 0 10px lighten($color, 40%),
      0 0 21px lighten($color, 40%),
      0 0 42px lighten($color, 10%),
      0 0 82px lighten($color, 10%),
      0 0 92px lighten($color, 10%),
      0 0 102px lighten($color, 5%),
      0 0 151px lighten($color, 5%);
}

@function glowText($glowColor) {
  @return 0 0 20px $glowColor, 0 0 40px $glowColor, 0 0 60px $glowColor,
    0 0 80px $glowColor, 0 0 100px $glowColor, 0 0 120px $glowColor,
    0 0 140px $glowColor, 0 0 160px $glowColor;
}

@mixin animate($animation, $duration, $method, $times, $delay) {
  animation: $animation $duration $method $times $delay;
}

@mixin flicker($name, $color) {
  @keyframes #{$name} {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow: neonText($color);
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
}

@mixin flickerBox($name, $color, $spread) {
  @keyframes #{$name} {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      filter: drop-shadow(0px 0px $spread $color);
    }
    20%, 24%, 55% {       
      filter: none;
    }
  }
}